h1 {
  text-align: center;
}

/* Float the left div to the left */
.left {
  width: 45%;
  float: left;
  border: 1px solid red;
  border-radius: 15px;
}

/* Float the right div to the right */
.right {
  width: 45%;
  float: right;
  border: 1px dashed red;
  border-radius: 15px;
}

/* Set the width of the last div to 100% */
.bottom {
  width: 100%;
  margin-top: 60%;
  float: right;
  margin-bottom: 20px;
}


/* Set the weight of the h3 tags to 500 */
h3 {
  font-weight: 500;
}

/* Set the weight of the lists to 300 */
ol, ul {
  font-weight: 300;
}

/* Give the ordered list a padding of 10px */
ol {
  padding: 10px;
  list-style: inside;
}

/* Give the unordered list a padding of 10px */
ul {
  padding: 10px;
  list-style-type: upper-roman;
  list-style-position: inside;
}

/* Add :hover to the links and show the underlines when a cursor hovers over the links */
a:hover {
  text-decoration: underline;
}

